<h1>Events</h1>
<% @events.each do |event| %>
  <h2><%= link_to event.title, event_path(event) %></h2>
  <p><%= event.description %></p>
  <p><%= event.location %></p>
  <p><%= event.date.strftime("%d %b %Y at %I:%M %p") %></p>
  <p>Price: $<%= event.price %></p>
<% end %>