<% if current_user %>
  <p>Bienvenue, <%= current_user.first_name %></p>
<% else %>
  <p>Veuillez vous connecter.</p>
<% end %>

<h1>Nouvel évênement</h1>
<%= form_with model: @event, local: true do |form| %>
  <p>Title: <%= form.text_field :title %></p>
  <p>Description: <%= form.text_area :description %></p>
  <p>Location: <%= form.text_field :location %></p>
  <p>Date: <%= form.datetime_select :start_date %></p>
  <p>Durée (minutes): <%= form.number_field :duration %></p>
  <p>Prix: €<%= form.number_field :price %></p>
  <%= form.submit %>
<% end %>