<h1><%= @event.title %></h1>
<p>Date: <%= @event.start_date.strftime('%d %B %Y') %></p>
<p>Description: <%= @event.description %></p>
<p>Lieu : <%= @event.location %></p>
<p>Prix : <%= @event.price %>€</p>

<% if @event.attendances.any? %>
  <h2>Liste des invités :</h2>
  <ul>
    <% @event.attendances.each do |attendance| %>
      <li><%= attendance.user.first_name %> <%= attendance.user.last_name %></li>
    <% end %>
  </ul>
<% else %>
  <p>Pas encore d'invités.</p>
<% end %>


<% if user_signed_in? && current_user != @event.user && !@event.attendances.exists?(user_id: current_user.id) %>
  <%= link_to "Rejoindre l'événement", new_attendance_path(event_id: @event.id) %>
<% end %>

<% if current_user == @event.user %>
  <%= link_to 'Mon espace événement', event_attendances_path(@event) %>
<% end %>